.catalog h2 {
  margin: 16px 0 60px;
}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 8px;
}

.catalog__item {
  text-decoration: none;
  color: #000;
  margin-bottom: 60px;
  box-sizing: border-box;
  border-radius: 10px;
}

.catalog__item:hover img {
  transition: all ease-out 0.2s;
  transform: scale(1);
}

.catalog__item img {
  max-width: 516px;
  width: 100%;
  transform: scale(0.8);
  transform-origin: center center;
  transition: all ease-out 0.2s;
}

.catalog__item h3 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

@media (max-width: 1024px) {
  .catalog__items {
    justify-content: center;
  }

  .catalog h2 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .catalog h2 {
    margin: 0 0 46px;
  }

  .catalog__items {
    padding-bottom: 4px;
  }

  .catalog__item {
    margin-bottom: 46px;
  }
}
