.main__nav {
  display: flex;
  border-bottom: 3px solid #bcc1cb;
  margin: 14px 0 0;
  box-sizing: border-box;
}

.main__tab {
  text-decoration: none;
  color: #71757d;
  font-size: 1.75rem;
  margin-right: 140px;
  margin-bottom: -3px;
  padding: 16px 0;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
}

.main__tab:nth-of-type(1):before {
  content: "Авто в продаже";
}

.main__tab:nth-of-type(1):after {
  content: "Авто";
  display: none;
}

.main__tab:nth-of-type(2):before {
  content: "Описание класса";
}

.main__tab:nth-of-type(2):after {
  content: "Описание";
  display: none;
}

.main__tab:hover {
  cursor: pointer;
}

.main__tab.-tab-active {
  color: #000;
  border-bottom: 3px solid black;
}

.main__about-car a {
  text-decoration: none;
  color: #000;
}

.main__car-for-sale {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 130px;
}

.main__car-for-sale:last-of-type {
  margin: 0 0 210px;
}

.main__car-for-sale:nth-of-type(1) {
  margin-top: 92px;
}

.main__car-for-sale img {
  width: 55%;
  transform: scale(0.8);
  transition: all ease-out 0.2s;
}

.main__car-for-sale:hover img {
  transform: scale(1);
}

.main__car-for-sale h2 {
  font-size: 2.375rem;
  margin-bottom: 24px;
}

.main__description-auto {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.main__specific-auto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main__specific-auto span {
  white-space: nowrap;
}

.main__specific-auto span:nth-of-type(1) {
  color: #787777;
}

.main__specific-auto span:nth-of-type(2) {
  width: 100%;
  border-bottom: 2px dotted #cbcbcb;
}

.main__price {
  font-size: 2.375rem;
  color: #4e4e4e;
  margin: 12px 0;
}

.main__price-old {
  font-size: 1.75rem;
  text-decoration: line-through;
  color: #71757d;
}

.main__price_mobile {
  display: none;
}

.main__offer {
  display: flex;
  align-items: center;
}

.main__offer span {
  margin-left: 12px;
  font-size: 1.125rem;
}

.main__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.main__buttons .btn-border:hover {
  font-weight: 700;
}

.main__buttons .btn-black {
  color: #fff;
}

.main__destription-item {
  display: flex;
  justify-content: space-between;
  margin: 86px 0;
}

.main__destription-item:nth-of-type(1) {
  margin-top: 92px;
}

.main__destription-item:last-of-type {
  margin-bottom: 36px;
}

.main__destription-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
}

.main__destription-text h2 {
  font-size: 2.375rem;
  margin-bottom: 32px;
}

.main__destription-text p {
  font-size: 1.125rem;
  line-height: 1.5;
}

.main__destription-item img {
  width: 48%;
}

.main__video-car {
  margin: 92px 0 120px;
  width: 100%;
}

.main__video-car iframe {
  width: 100%;
  height: 630px;
}

.-main__about-car_hidden {
  display: none;
}

.main__car-description .main__offer {
  margin-bottom: 255px;
}

@media (max-width: 1290px) {
  .main__nav {
    white-space: nowrap;
    justify-content: space-between;
  }

  .main__tab {
    margin: 0 0 -3px;
  }

  .main__tab:nth-of-type(1):before {
    display: none;
  }

  .main__tab:nth-of-type(1):after {
    display: inline-block;
  }

  .main__tab:nth-of-type(2):before {
    display: none;
  }

  .main__tab:nth-of-type(2):after {
    display: inline-block;
  }

  .main__car-for-sale {
    flex-direction: column;
  }

  .main__car-for-sale img {
    width: 100%;
    transform: scale(0.8);
  }

  .main__description-auto {
    width: 100%;
  }

  .main__description-auto h2 {
    margin: 16px 0;
  }

  .main__price_mobile {
    display: block;
  }

  .main__price_desktop {
    display: none;
  }

  .main__specific-auto {
    margin-bottom: 14px;
  }

  .main__offer {
    margin: 24px;
    align-self: center;
  }
}

@media (max-width: 767px) {
  .main__tab {
    font-size: 1.5rem;
  }

  .main__buttons .btn-black,
  .main__buttons .btn-border {
    min-width: 150px;
  }

  .main__car-for-sale img {
    transform: scale(1);
  }

  .main__destription-item {
    flex-direction: column;
    margin: 48px 0;
  }

  .main__destription-item:nth-of-type(odd) {
    flex-direction: column-reverse;
  }

  .main__destription-item:last-of-type {
    margin-bottom: 62px;
  }

  .main__destription-item img,
  .main__destription-text {
    width: 100%;
  }

  .main__destription-text h2 {
    font-size: 2rem;
    margin: 24px 0;
  }

  .main__destription-text p {
    font-size: 1rem;
  }
  .main__offer {
    display: none;
  }
}
