.footer {
  background: #070707;
}

.footer__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #fff;
}

.footer__container a {
  text-decoration: none;
  color: #fff;
}

.footer h3 {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__column {
  width: 30%;
  padding-top: 50px;
}

.footer__social {
  margin-bottom: 30px;
}

.footer__social svg {
  margin-right: 24px;
}

.footer__social svg path {
  /* fill: #00adef; */
  transition: all ease-out 0.2s;
}

.footer__social svg:hover path {
  fill: #00adef;
  transition: all ease-out 0.2s;
}

.footer__column .footer__email {
  transition: all ease-out 0.2s;
}

.footer__column .footer__email:hover {
  text-decoration: underline;
  color: #00adef;
  transition: all ease-out 0.2s;
}

.footer__column tr {
  height: 30px;
}

.footer__column tr td:first-child {
  padding-right: 15px;
}

.today {
  color: #00adef;
}

.today::after {
  content: "Сейчас работает";
  font-size: 0.75rem;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.footer__column .footer__map {
  color: #00adef;
  text-decoration: underline;
  font-size: 0.75rem;
  margin-top: 15px;
  display: inline-block;
}

.footer__column .footer__map:hover {
  text-decoration: none;
}

.footer__text {
  font-size: 0.75rem;
  margin-top: 100px;
  color: #ababab;
}

.footer__text p:last-child {
  margin: 20px 0 12px;
}

@media (max-width: 1290px) and (min-width: 768px) {
  .footer__column {
    width: 40%;
    min-width: 330px;
  }

  .footer__column h3 {
    margin: 20px 0;
  }

  .footer__column:nth-child(2) {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer__row {
    flex-direction: column;
  }

  .footer__column {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__column h3 {
    margin: 20px 0;
  }

  .footer__column:nth-child(2) {
    display: none;
  }

  .footer__column:last-child h3 {
    display: none;
  }
}
