.header__container {
  background: #070707;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
}

.header__container a {
  text-decoration: none;
  color: #fff;
}

.header__logo-mobile {
  display: none;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__btn {
  margin-right: 50px;
  font-size: 1.25rem;
  transition: all ease-out 0.2s;
}

.header__btn:nth-of-type(3) {
  margin: 0 0 0 54px;
  font-size: 1.125rem;
}
.header__btn:hover {
  color: #00adef;
  transition: all ease-out 0.2s;
}

.header__burger {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
}

.header__burger span {
  height: 2px;
  width: 100%;
  border-radius: 1px;
  position: absolute;
  background: #fff;
  margin: 0 auto;
}

@media (max-width: 1290px) and (min-width: 768px) {
  .header__btn {
    margin-right: 25px;
    font-size: 1.125rem;
    display: none;
  }

  .header__btn:nth-of-type(3) {
    display: inline-block;
    margin-right: 50px;
  }

  .header__burger {
    display: inline-block;
  }

  .header__burger span:first-child {
    top: 2px;
  }

  .header__burger span {
    top: 12px;
  }

  .header__burger span:last-child {
    top: 22px;
  }
}

@media (max-width: 767px) {
  .header__logo-desktop {
    display: none;
  }

  .header__logo-mobile {
    display: block;
  }

  .header__btn {
    display: none;
  }

  .header__burger {
    display: flex;
    align-items: center;
  }

  .header__burger span {
    width: 20px;
    left: 2px;
  }

  .header__burger span:first-child {
    top: 3px;
  }

  .header__burger span {
    top: 12px;
  }

  .header__burger span:last-child {
    top: 21px;
  }
}
