@import "normalize.css";

@import "./components/header.css";

@import "./components/banner.css";

@import "./components/footer.css";

@import "./ui/container.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Tinos&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tinos", serif;
  font-weight: 400;
  margin: 0;
}

/* .main {
  height: 50px;
} */

p {
  margin: 0;
}
